*{
    margin: 0px;
}

#titulo{
    color: blue;
    text-align: center;
}
.texto-paragrafo{
    text-align: center;
}
div{
    text-align: center;
    width: 50%;
    margin: auto;
    margin-top: 40%;
}

.entradas{
    border: 1px solid;
    
}

.rodape{
    position: fixed;
    width: 100%;
    border: 1px solid;
    bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}
