*{
    margin: 0px;
}

#titulo{
    color: blue;
    text-align: center;
}
.texto-paragrafo{
    text-align: center;
}

.entradas{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 40px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    gap: 5px;
    border: 1px solid;
    width: 60%;
    margin: auto;
    position: absolute;
    bottom: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rodape{
    position: fixed;
    width: 100%;
    border: 1px solid;
    bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#botao-s{
    color: aliceblue;
    background-color: blue;
    font-size: 14px;
    font-weight: 600;
    border: none;
}
